<br>
<br>
<app-navbar [length]="len" (messageEvent)="receiveMessage($event)"> </app-navbar>

<br>
<br>
<h1 class="text-danger">{{ childMessage }}</h1>

<table class="container table align-middle mb-0 tbl table-bordered mt-5 pt-5 shadow-lg">
    <thead class="bg-white text-dark mt-5">
        <tr>
            <th>Email</th>
            <th>Jobname</th>
            <th>Company</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let t of elements">
            <td>
                <div class=" ms-3">
                    <p class="">{{t.email}}</p>
                </div>
            </td>
            <td>
                <span class=" rounded-pill ">{{t.jobname}}</span>
            </td>
            <td>
                <span class=" rounded-pill ">{{t.company}}</span>
            </td>
            <td>
                <span class=" rounded-pill">{{t.status}}</span>
            </td>
            <td>
                <i class="fas fa-check ms-5 text-success" *ngIf="t.status !== 'Approved'" (click)="approvebtn(t)"> </i>
                <i class="fas fa-times ms-5  text-danger" *ngIf="t.status !== 'Rejected'" (click)="rejectbtn(t)"> </i>

            </td>


        </tr>
    </tbody>
</table>