

<div class="background">
    <div class="container">
        <div class="screen">
            <div class="screen-header">
                <div class="screen-header-left">
                    <div class="screen-header-button close"></div>
                    <div class="screen-header-button maximize"></div>
                    <div class="screen-header-button minimize"></div>
                    <div class="screen-header-button dis">
                        <h1>Feedback</h1>
                    </div>

                </div>
                <div class="screen-header-right">
                    <div class="screen-header-ellipsis"></div>
                    <div class="screen-header-ellipsis"></div>
                    <div class="screen-header-ellipsis"></div>
                </div>
            </div>
            <div class="screen-body">
                <div class="screen-body-item left">
                    <!--  -->
                    <div id="success-box" *ngIf="popup==true">
                        <div class="face">
                            <div class="eye"></div>
                            <div class="eye right"></div>
                            <div class="mouth happy"></div>
                        </div>
                        <div class="shadow scale"></div>
                        <div class="message">
                            <h1 class="alert">Thank You..!</h1>
                        </div>
                       
                    </div>

                    <!--  -->

                </div>
                <div class="screen-body-item">
                    <form class="app-form" #myForm="ngForm">
                        <div class="app-form-group buttons">
                            <button class="app-form-button" (click)="resetForm()">CANCEL</button>
                            <button type="submit" class="app-form-button" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" (click)=" send()">SEND</button>
                        </div>
                        <div class="app-form-group">
                            <input class="app-form-control" placeholder="{{name}}" value="{{name}}">
                        </div>
                        <div class="app-form-group">
                            <input class="app-form-control" placeholder="EMAIL" value="{{email}}">
                        </div>

                        <div class="app-form-group message mt-5 pt-4">
                            <input class="app-form-control" placeholder="MESSAGE" [(ngModel)]="feedback"
                                name="feedback">
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>