
<div class="d-flex mt-5">
    <div class="col-4"></div>
    <div class="col-4">
    <form>
       
       



        <!-- Message input -->
        <div class="form-outline mb-4">
            <textarea class="form-control" id="form4Example3" rows="4" [(ngModel)]="feedback" name="feedback"></textarea>
            <label class="form-label" for="form4Example3">Message</label>
        </div>
   
        <button type="submit" class="btn btn-primary btn-block mb-4" (click)=" send()">Send</button>
    </form>
</div>
    <div class="col-4"></div>
</div>