<br><br>


<table class="container table align-middle mb-0 bg-white table-bordered rounded-3 my-5 mb-5 pt-5">
  <thead class="">
    <tr class="clr fw-normal mb-1 ">
      <th>Jobname</th>
      <th> Company </th>
      <th> Status </th>
      <th class="remarks"> Remarks </th>
    </tr>
  </thead>
  <tbody>

    <ng-container *ngFor="let item of elements">
      <tr *ngIf="item.status !== 'Rejected'">
        <td>{{ item.jobname }}</td>
        <td>{{ item.company }}</td>
        <td *ngIf=" item.status=='Approved'" class="text-success">{{ item.status }}</td>
        <td *ngIf=" item.status=='pending'" class="text-secondary">{{ item.status }}</td>
        <td class="remarks " *ngIf=" item.status=='Approved'">Congratulations,
          you have been shortlisted! Check your email regularly for further updates.</td>
        <td class="remarks " *ngIf=" item.status=='pending'">
          It is currently under review. We will provide updates as soon as your application is approved."</td>
      </tr>
    </ng-container>
</table>




<div *ngIf="rej !=''">
  <table class="container table align-middle mb-0 bg-white table-bordered rounded-3 my-5 mb-5 pt-5">
    <thead class="">
      <tr class="clr fw-normal mb-1 ">
        <th>Jobname</th>
        <th> Company </th>
        <th> Status </th>
        <th class="remarks"> Remarks </th>
      </tr>
    </thead>
    <tbody>

      <ng-container *ngFor="let item of elements">
        <tr *ngIf="item.status == 'Rejected'">
          <td>{{ item.jobname }}</td>
          <td>{{ item.company }}</td>
          <td class="text-danger">{{ item.status }}</td>
          <td class="remarks">Your Application is Rejected</td>
        </tr>
      </ng-container>
  </table>