.img {
    background-position: center;
    background-image: url('../../../assets/d.jpg');
    height: 120vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.title {
    font-size: 85px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #06383b;
}

.subtitle {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 8px;
    font-weight: bold;
    background-color: #06383b;
    color: white;
}













// @media (max-width: 450px) {
//     #intro {
//         height: 950px !important;
//     }
// }

// @media (min-width: 550px) and (max-width: 750px) {
//     #intro {
//         height: 1100px !important;
//     }
// }

// @media (min-width: 800px) and (max-width: 990px) {
//     #intro {
//         height: 600px !important;
//     }
// }

// .display-1 {
//     font-weight: 500 !important;
//     letter-spacing: 40px;
// }

// @media (min-width: 1600px) {
//     .display-1 {
//         font-size: 10rem;
//     }
// }


