<main class="site-wrapper">
    <div class="pt-table desktop-768">
        <div class="pt-tablecell page-home relative" style="background-image: url(../../../assets/d.jpg);
      background-position: center;      background-size: cover;">
            <div style="
      border: 0;
     position: absolute;
    top: 0;
    left: 0;
    width: 99vw;
   
    height: 54.8vw;


      background-color: rgba(0, 0, 0, 0.5);"></div>


            <!-- <div class="overlay" ></div> -->


            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                        <div class="page-title  home text-center">
                            <h2 class="title"> The Hiring Hub</h2> <br>
                            <h5 id="subtitle">Discover Your Each Opportunity...</h5>



                        </div>

                        <div class="hexagon-menu clear">
                            <div class="hexagon-item">
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <a class="hex-content" href="home">
                                    <span class="hex-content-inner">
                                        <span class="icon">
                                            <i class="fa fa-universal-access"></i>
                                        </span>
                                        <span class="hextitle">Home</span>


                                    </span>
                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                            fill="#1e2530"></path>
                                    </svg>
                                </a>
                            </div>
                            <div class="hexagon-item">
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <a class="hex-content" href="jobs">
                                    <span class="hex-content-inner">
                                        <span class="icon">
                                            <i class="fa fa-bullseye"></i>
                                        </span>
                                        <span class="hextitle">Jobs</span>
                                    </span>
                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                            fill="#1e2530"></path>
                                    </svg>
                                </a>
                            </div>
                            <div class="hexagon-item">
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>






                                <a class="hex-content" href="apply" *ngIf="type==='company'">
                                    <span class="hex-content-inner">
                                        <span class="icon">
                                            <i class="fa fa-braille"></i>
                                        </span>
                                        <span class="hextitle">Application</span>
                                    </span>
                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                            fill="#1e2530"></path>
                                    </svg>
                                </a>

                                <a class="hex-content" h href="jobs/myjobs/{{email}}" *ngIf="type==='employye'">
                                    <span class="hex-content-inner">
                                        <span class="icon">
                                            <i class="fa fa-braille"></i>
                                        </span>
                                        <span class="hextitle">My Jobs</span>
                                    </span>
                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                            fill="#1e2530"></path>
                                    </svg>
                                </a>
                            </div>

                            <div class="hexagon-item">
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <a class="hex-content" href="joblist" *ngIf="type==='company'">
                                    <span class="hex-content-inner">
                                        <span class="icon">
                                            <i class="fa fa-clipboard"></i>
                                        </span>
                                        <span class="hextitle">Joblist</span>
                                    </span>
                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                            fill="#1e2530"></path>
                                    </svg>
                                </a>
                                <a class="hex-content" href="feedback" *ngIf="type==='employye'">
                                    <span class="hex-content-inner">
                                        <span class="icon">
                                            <i class="fa fa-clipboard"></i>
                                        </span>
                                        <span class="hextitle">Suggestions</span>
                                    </span>
                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                            fill="#1e2530"></path>
                                    </svg>
                                </a>
                            </div>
                            <div class="hexagon-item">
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <a class="hex-content" href="about">
                                    <span class="hex-content-inner">
                                        <span class="icon">
                                            <i class="fa fa-life-ring"></i>
                                        </span>
                                        <span class="hextitle">About</span>
                                    </span>
                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                            fill="#1e2530"></path>
                                    </svg>
                                </a>
                            </div>
                            <div class="hexagon-item">
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <a class="hex-content">
                                    <span class="hex-content-inner">
                                        <span class="icon">
                                            <i class="fa fa-map-signs"></i>
                                        </span>
                                        <span class="hextitle">Contact</span>
                                    </span>
                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                            fill="#1e2530"></path>
                                    </svg>
                                </a>
                            </div>
                            <div class="hexagon-item">
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <a class="hex-content" href="profile/{{email}}">
                                    <span class="hex-content-inner">
                                        <span class="icon">
                                            <i class=" fa fa-id-badge"></i>
                                        </span>
                                        <span class="hextitle">Profile</span>
                                    </span>
                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                            fill="#1e2530"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</main>