<app-navbaruser></app-navbaruser>


<div class="mt-5 pt-4 ">
  <input type="search" placeholder="Searchbar" class="form-control ps-2 " style="width: 247px; border-radius: 10px; ; height: 40px; margin-left: 135px; "
    [(ngModel)]="term">
</div>


<div class="container row " style="margin-left: 100px;">
  <!-- Card Wider -->
  <div class="card  card-cascade wider m-4" *ngFor="let t of elements  |filter:term" style="width: 300px;">
    <!-- Card image -->
    <div routerLink="jobview/{{t.id}}">
      <div class="view view-cascade overlay">
        <img class="card-img-top" src="{{t.image}}" style="height: 250px; width: 300px;" alt="Card image cap">
      </div>
      <!-- Card content -->
      <div class="card__body">
        <span class="tag tag-blue">View</span>
        <h2>{{t.jobname}}</h2>
        <p>Details: {{t.description}}</p>
        <p class="">{{t.place}}-{{t.pincode}}</p>
      </div>
      <div class=" text-muted text-center mb-3 ">
        Posted on - <span class="text-dark"> {{t.time}} </span>
      </div>
    </div>
  </div>
</div>