.img {
    background-image: url('../../../assets/d.jpg');
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    font-size: 85px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(107, 25, 25);
}

#subtitle {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 8px;
    font-weight: bold;
}

#bg {
    background-color: burlywood;
}

#icon{
    text-decoration: none;
    color: black;

}