<app-navbaruser></app-navbaruser>
<br><br>

<!-- Main -->
<div class="main ">
    <h2 class="text-dark">Profile</h2>
    <div class="card ">
        <div class="card-body">
            <i class="fa fa-pen fa-xs edit"></i>
            <div>
                <img src="../../../assets/z.jpg" alt="">
            </div> 
            
            <table>
                <tbody>
                   
                    <tr>
                        <td>Name</td>
                        <td>:</td>
                        <td>{{ elements.name }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>:</td>
                        <td>{{ elements.email }}</td>
                    </tr>
                    <tr>
                        <td>Contact</td>
                        <td>:</td>
                        <td>{{elements.mobile}}</td>
                    </tr>
                   
                   
                    <tr>
                        <td>Type</td>
                        <td>:</td>
                        <td>{{elements.type}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>
<!-- End -->