.card {
    margin-left: 150px;
    margin-top: 100px;
    box-shadow: 0px 1px 1px;
}

h3 {
    line-height: 8px;
}

img {
    transition: transform 0.2s;
    transform: scale(1);
}


img:hover {

    transform: scale(1.1);
}

#name{
    color: #06383b;
 
}