<section class="light">
  <div class="container py-5 mt-5">
    <div class="h1 text-center text-dark" id="pageHeaderTitle">Apply </div>

    <article class="postcard light blue" *ngFor="let t of elements">
      <a class="postcard__img_link">
        <!-- <img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" /> -->
        <img class="postcard__img" src="{{t.image}}" alt="Image Title" />
      </a>
      <div class="postcard__text t-dark">
        <h1 class="postcard__title blue"><a>{{t.jobname}}</a></h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i> {{t.time}}</time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">Description: {{t.description}} Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Eligendi, fugiat
          asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium
          maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto
          quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div> <br>
        <div class="postcard__preview-txt"> <b>Location:</b> {{t.place}}</div>
        <div class="postcard__preview-txt"> <b>Pincode: </b> {{t.pincode}}</div>
        <div class="postcard__preview-txt"> <b>Number:</b> {{t.number}}</div>

        <ul class="postcard__tagbox">
          <li class="tag__item play blue">
            <a (click)=" apply()"><i class="fas fa-play mr-2"></i> Apply</a>
          </li>
        </ul>
      </div>
    </article>

  </div>
</section>





 <!-- <div class="card  " style="max-width: 900px;">
  <div class="row g-0" *ngFor="let t of elements">
    <div class="col-md-4 align-middle">
      <img src="{{t.imageToUrl}}" class="img-fluid rounded-start align-middle " />
    </div>
    <div class="col-md-8">
      <div class="card-body  text-secondary">
        <div class=" d-flex justify-content-between">
          <h1 class="card-title"><b id="name"> {{t.jobname}} </b></h1>

          <button type="button" class="btn btn-outline-primary rounded-pill text-end" id="applybtn"
            data-bs-toggle="modal" data-bs-target="#exampleModal88x" (click)=" apply()">
            Apply
          </button>

        </div>
        <div class="d-flex">
          <strong class="text-dark">Company: <cite> {{t.company}} </cite> </strong>
        </div>

        <hr>
        <h4 class="card-text  text-dark"><b>Description: </b> {{t.description}} </h4>
        <div class="card-text">

          <h3 class="text-dark">Location: {{t.place}} </h3>
          <h3 class="text-dark">Pincode : {{t.pincode }} </h3>
          <h3 class="text-dark">Contact: {{t.number }} </h3>
          <div class="card-footer text-muted text-center mt-4">
            Posted on - {{t.time}}
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div> -->





<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->