<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href=''>Home</a>
                </li>
                <li class="nav-item" *ngIf="type=='company'"> <a  href='jobs' class="nav-link">Jobs</a> </li>
                <li class="nav-item"> <a (click)="joblistclick()" class="nav-link">Jobslist</a> </li>
            </ul>

            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Admin {{email}}</a>
                        <ul class="dropdown-menu  dropdown-menu-end ">
                            <a class="dropdown-item">Profile</a>
                            <a class="dropdown-item">Settings</a>

                            <div class="dropdown-divider"></div>
                            <li><button class="dropdown-item" type="button" (click)="logout()">Logout</button></li>

                        </ul>
                    </li>
                </ul>
            </div>



        </div>
    
   
    </div>
</nav>