<div class="container mt-5 pt-2">

    <h4 class="text-dark mt-4">Time : {{time}}</h4>

    <div class="d-flex">
        <input type="search" placeholder="Searchbar" class="form-control my-3  " style="width: 200px; "
            [(ngModel)]="term">
        <!-- for search -->
        <!-- <input type="text" [(ngModel)]="term"  placeholder="Search here...."  > -->
        <button type="button" class="btn  my-3 addbtn " data-bs-toggle="modal" data-bs-target="#exampleModal"
            style="width: 120px; height: 35px;     margin-left: 800px;"> + Add Job
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title s " id="exampleModalLabel"> Add Job</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-center text-success ">
                        <form action="">
                            <div><input type="text" class="form-control" placeholder="Job Name" [(ngModel)]="jobname"
                                    name="jobname"> <br>
                                <input type="text" class="form-control" placeholder="description"
                                    [(ngModel)]="description" name="description"><br>
                                <input type="text" class="form-control" placeholder="Place" [(ngModel)]="place"
                                    name="place"> <br>
                                <input type="text" class="form-control" placeholder="Pincode" [(ngModel)]="pincode"
                                    name="pincode"> <br>

                                <!-- <select id="company" name="company" class="form-control" [(ngModel)]="company">
                                    <option value="" disabled selected>Company</option>
                                    <option *ngFor="let comp of elements" [value]="comp.company" name="company">
                                        {{comp.company}}</option>
                                    <option value="other" (click)="other()">Other</option>
                                </select>
                                <br>
                                <input *ngIf="company == 'other'" type="text" class="form-control"
                                    placeholder="company" name="company"  [value]="company"> -->



                                <!-- <input type="text" class="form-control" placeholder="company" [(ngModel)]="company"
                                    name="company"> <br> -->

                                <input type="text" class="form-control" placeholder="number" [(ngModel)]="number"
                                    name="number">
                                <input type="file" class="form-control mt-3" placeholder="Image" [(ngModel)]="image"
                                    name="image"><br>
                                <input type="text" class="form-control" placeholder="Date" [(ngModel)]="time"
                                    name="Date">
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">

                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                    <button type="button" class="btn text-light addbtn " (click)="addjob()">ADD</button>
                </div>
            </div>
        </div>
    </div>




    <!-- <p  [(ngModel)]="datm"  > Post date: {{today | date}}</p> -->

    <!-- table -->
    <table class="table align-middle mb-0 bg-white table-bordered border border-2 shadow ">
        <thead class="text-light">
            <tr>
                <th></th>
                <th> Icon</th>
                <th>Name</th>
                <th>Decription</th>
                <th>location</th>
                <th>Time</th>
                <th> Contact</th>
                <th>Pincode</th>
                <th>Status</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>

            <tr *ngIf="elements.length<1">
                <div colspan="7"> No Jobs Found </div>
            </tr>

            <!-- index for adding serial number -->
            <tr *ngFor="let t of elements | filter:term ; index as i  ">
                <td>{{i+1}}</td>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="{{t.image}}" alt="" style="width: 45px; height: 45px" class="rounded-circle" />
                    </div>
                </td>
                <td>
                    <div class="ms-3">
                        <p class="fw-bold mb-1">{{t.jobname}}</p>
                        <pre class="text-muted m-2">{{t.company}}</pre>
                    </div>
                </td>
                <td>
                    <p class="fw-normal mb-1"> {{t.description}}</p>
                    <p class="text-muted mb-0"></p>
                </td>
                <td>
                    <span class=" rounded-pill ">{{t.place}}</span>
                </td>
                <td>{{t.time}}</td>
                <td>{{t.number}}</td>
                <td>{{t.pincode}}</td>
                <td>{{t.status}}</td>

                <td style="width: 40px;">
                    <a href="jobs/update/{{t.id}}">
                        <button type="button" class="btn btn-link btn-sm btn-rounded">
                            <i class=" fa-solid fa-file-pen "></i> </button></a>
                    <hr>
                    <button type=" button" class="btn btn-link btn-sm btn-rounded" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop" (click)="deletebtn(t.id)">
                        <i class="fa-solid fa-trash-can"></i> </button>

                

                </td>
            </tr>

        </tbody>
    </table>

</div>



<!-- Modal -->