<br>
<br>
<app-navbar> </app-navbar>


<table class="container table align-middle mb-0 tbl table-bordered mt-5 pt-5 shadow-lg">
    <thead class="bg-white text-dark mt-5">
        <tr>
            <th>Jobname</th>
            <th>Company</th>
            <th>Place</th>
            <th>Description</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let t of job">


            <td>
                <span class=" rounded-pill ">{{t.jobname}}</span>
            </td>
            <td>
                <span class=" rounded-pill ">{{t.company}}</span>
            </td>
            <td>
                <span class=" rounded-pill ">{{t.place}}</span>
            </td>
            <td>
                <span class=" rounded-pill ">{{t.description}}</span>
            </td>
            <td>
                <span class=" rounded-pill">{{t.status}}</span>

                <!-- <i class="fas fa-check ms-5" *ngIf="t.status == 'pending'" (click)="approvebtn(t)"> </i>
                <i class="fas fa-times ms-5" *ngIf="t.status == 'pending'" (click)="rejectbtn(t)"> </i> -->



                <!-- <button class="btn btn-light btn-rounded ms-4" *ngIf="t.status == 'pending'" (click)="approvebtn(t)">
                        Approve </button> -->


                <!-- <button class="btn btn-light btn-rounded ms-4" *ngIf="t.status == 'pending'"
                        (click)="approvebtn(t)"> Approve </button> -->
            </td>


            <td>

                <i class="fas fa-check mx-3 fa-lg  text-success" data-bs-toggle="tooltip" data-bs-placement="right"
                    title="Approve" *ngIf="t.status == 'Rejected' ||  t.status == 'Pending' "
                    (click)="approvebtn(t)"></i>



                <i class="fas fa-times m-3 fa-lg" data-bs-toggle="tooltip" data-bs-placement="right" title="Reject"
                    *ngIf="t.status ==  'Verified' ||  t.status == 'Pending'" (click)="rejectbtn(t)"></i>



                <i class="fas fa-trash m-3 fa-lg   text-danger" data-bs-toggle="tooltip" data-bs-placement="right"
                    title="Delete" *ngIf="t.status == 'Rejected'" (click)="deletebtn(t)"></i>




            </td>

        </tr>
    </tbody>
</table>