<app-navbaruser></app-navbaruser>




<!-- Page content -->
<div class=" m-5" style="max-width:1564px">



    <!-- About Section -->
    <div class="d-flex mt-4">
        <div class="col-2">

        </div>
        <div class="mt-4 col-8 p-4 " id="about">



            <p class="lead">About</p>

            <p class="text-muted border-top border-bottom p-3"> A job portal web application is a platform that allows
                job seekers to search and apply
                for job openings,
                and for employers to post job openings and find suitable candidates. It typically includes features such
                as a job search engine, user profiles, job application tracking, resume builder, job alerts, and
                communication tools for job seekers and employers. The web app may also include additional features like
                skill assessments, interview scheduling, and salary comparison tools. The aim of a job portal web app is
                to connect job seekers and employers, and make the job search and hiring process more efficient and
                effective. </p>


            <p class="text-primary font-weight-bold">Learn more about our services</p>
            <p class="text-center font-italic">"Success is not final, failure is not fatal: It is the courage to
                continue that counts." - Winston S. Churchill</p>

            </div>
        <div class="col-2">

        </div>
    </div>

    <hr>
    <app-feedback> </app-feedback>



    <p class="text-truncate bg-dark text-white p-3 mb-2 text-center ">Powered by @ Hiring_Hub 2023
    </p>




</div>